body{
    background-color: rgba(27, 27, 27, 0.449);
    margin: 0;
}

.top-banner{
    width: 80%;
    display: flex;
    margin: 100px 30px;
}

.top-content{
    max-width: 100%;
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 75px;
}



.top-img{
    max-width: 30%;
    height: auto;
    padding-left: 200px;
    margin-top: -50px;
}